<launch>

    <!-- bag的地址与名称 -->
    <arg name="bag_filename" default="$(find 06_plicp_odometry)/../../bagfiles/bag_scan_odom.bag" />

    <!-- 使用bag的时间戳 -->
    <param name="use_sim_time" value="true" />

    <!-- 启动节点 -->
    <node name="scan_to_cloud_converter_node" pkg="08_gmapping" type="08_gmapping_node" output="screen" />

    <!-- play bagfile -->
    <node name="playbag" pkg="rosbag" type="play" args="--clock $(arg bag_filename)" /> 

    <!-- 发布静态坐标系 -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="link_broadcaster" args="0 0 0.254 0 0 3.1415926 base_link front_laser_link" />

    <!-- launch rviz -->
    <node name="rviz" pkg="rviz" type="rviz" required="false" args="-d $(find 08_gmapping)/launch/rviz_conf.rviz" />

</launch>
